/* Style the tab */
.customtabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/* Style the buttons that are used to open the tab content */
.customtabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
/* Change background color of buttons on hover */
.customtabs button:hover {
  background-color: #ddd;
}
/* Create an active/current tablink class */
.customtabs button.active {
  background-color: #ccc;
}
/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}
.tabcontent.active {
  display: block;
}
/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
}
  to {
    opacity: 1;
}
}
