{% if data %}    
    <div class="customtabs">
        {% set i = 0 %}
        {% for item in data %}
            {% if item.is_active %}
                {% set activeclass="" %}
            {% else %}
                {% set activeclass="disabled='disabled'" %}
            {% endif %}
            {% if i == 0 %}
                <button class="tablinks active" onclick="openCustomtab(this, {{ item.id }} )" id="tablinks{{item.id}}" {{ activeclass }}>{{ item.name }}</button>
            {% else %}
                <button class="tablinks" onclick="openCustomtab(this, {{ item.id }} )" id="tablinks{{item.id}}" {{ activeclass }}>{{ item.name }}</button>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}
    </div>    
    <div class="tab-content">
        {% set j = 0 %}
        {% for node in data %}
            {% if j == 0 %}
                <div id="{{ node.id }}" class="tabcontent active">
            {% else %}
                <div id="{{ node.id }}" class="tabcontent">
            {% endif %}
                {% for nodeitem in node.nodes %}                
                    <div>Project Name: {{ nodeitem.title }}</div>
                    <div>Project Year: {{ nodeitem.year }}</div>
                    {% if loop.index == nodeitem|length %}
                    {% else %}
                        <hr>
                    {% endif %}
                {% endfor %} {# End nodes in terms for #}
            </div>
            {% set j = j + 1 %}                
        {% endfor %} {# End tab-content for #}
    </div>
{% else %}
     Data is not available
{% endif %}
